.container{
  background-color: paleturquoise;
  text-align: center;
  margin:  15% auto;
  font-family: 'News Cycle', sans-serif;
  font-size: 2em;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 30px;
}
.mb-3{
  margin-top: 50px;
}
.result{
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  background-color: beige;
  display: inline;
  font-size: 2.5vw;
}